/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 sept. 2022, 19:50:34
    Author     : sbarr
*/

.body{
    padding: 0;
    margin: 0;
    background-image: url(../images/fondoBlanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white; /*Colorear de blanco los componentes de nuestra pagina: letra, bordes, etc..*/
}

.menu{
    padding: 20px;
    text-align: center;
    border-style: none solid solid solid;
    border-radius: 0px 0px 50px 50px;
    
   }



.menu ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}


.menu ul li{
    font-size: 25px;
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-style: solid;
    margin-right: 30px;
    border-radius: 30px;
    background: rgba(0,0,0, 0.4);
    box-shadow: 0px 0px 10px 4px white;
    transition: all .5s;
}


.menu ul li:hover{
    transition: all .5s;
    box-shadow: 0px 0px 10px 6px white;
    background: rgba(0,0,0, 0.9);
    transform: translate(0px, -5px);
}